.digit{
    border-radius: 50px;
 }
 #btnAdd{
     border-radius: 50px;
 }
 #btnMinus{
     border-radius: 50px;
 }
 #btnMult{
     border-radius: 50px;
 }
 #btnDivide{
     border-radius: 50px;
 }
 #btnfactorial{
     border-radius: 50px;
 }
 #btnpower{
     border-radius: 50px;
 }
 #btnequal{
     border-radius: 50px;
 }
 #clear{
     border-radius: 50px;
 }